<div class="container">
  <div class="container">
    <h2>Création d'un nouvel utilisateur</h2>
    <form action="#">
      <fieldset>
        <legend>Informations personnelles</legend>
        <label for="prenom">Prénom </label>
        <input [(ngModel)]="newParticipant.prenom" type="text" class="form-control" name="prenom" id="prenom"><br>

        <label for="nom">Nom </label>
        <input [(ngModel)]="newParticipant.nom" type="text" class="form-control" name="nom" id="nom"><br>

        <label for="email">Email </label>
        <input [(ngModel)]="newParticipant.email" type="email" class="form-control" name="email" id="email"><br>

        <label for="prefAlim">Préférence alimentaire </label>
        <input [(ngModel)]="newParticipant.preferenceAlim" type="text" class="form-control" name="prefAlim" id="prefAlim"><br>

        <label for="allergies">Allergies </label>
        <input [(ngModel)]="newParticipant.allergie" type="text" class="form-control" name="allergies" id="allergies"><br>
      </fieldset>
    </form>
  </div>
  <p><button type="submit" class="btn btn-primary" (click)="addParticipant()">Créer l'utilisateur</button></p>
</div>


