<div class="main-content">
  <div class="container-fluid">
    <h2>Création d'un nouvel utilisateur</h2>
      <mat-form-field appearance="outline">
        <!--<legend>Informations personnelles</legend>-->
        <mat-label for="prenom">Prénom </mat-label>
        <input matInput [(ngModel)]="newParticipant.prenom" type="text" class="form-control" name="prenom" id="prenom" required>
      </mat-form-field>
    <br>
      <mat-form-field appearance="outline">
        <mat-label for="nom">Nom </mat-label>
        <input matInput [(ngModel)]="newParticipant.nom" type="text" class="form-control" name="nom" id="nom" required>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="email">Email </mat-label>
      <input matInput [(ngModel)]="newParticipant.email" type="email" class="form-control" name="email" id="email" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="prefAlim">Préférence alimentaire </mat-label>
      <input matInput [(ngModel)]="newParticipant.preferenceAlim" type="text" class="form-control" name="prefAlim" id="prefAlim">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="allergies">Allergies </mat-label>
      <input matInput [(ngModel)]="newParticipant.allergie" type="text" class="form-control" name="allergies" id="allergies">
    </mat-form-field>
    <br>
  </div>
  <button mat-raised-button color="primary" (click)="addParticipant()"> Créer l'utilisateur</button>
</div>


