<div class="main-content">
  <div class="container-fluid">
    <h2>Inscription à une réunion</h2>
    <mat-form-field appearance="outline">
      <mat-label for="reunion">Reunion </mat-label>
      <mat-select [(ngModel)]="newParticipant.reunions">
        <mat-option *ngFor="let reunion of reunionList" [value]="reunion.id">
          {{reunion?.intitule}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
      <mat-form-field appearance="outline">
        <mat-label for="prenom">Prénom </mat-label>
        <input matInput [(ngModel)]="newParticipant.prenom" type="text" class="form-control" name="prenom" id="prenom" required>
      </mat-form-field>
    <mat-error *ngIf="emptyPrenom">Veuillez renseigner un prénom.</mat-error>
    <br>
      <mat-form-field appearance="outline">
        <mat-label for="nom">Nom </mat-label>
        <input matInput [(ngModel)]="newParticipant.nom" type="text" class="form-control" name="nom" id="nom" required>
      </mat-form-field>
    <mat-error *ngIf="emptyNom">Veuillez renseigner un nom.</mat-error>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="email">Email </mat-label>
      <input matInput [(ngModel)]="newParticipant.email" type="email" class="form-control" name="email" id="email" required>
    </mat-form-field>
    <mat-error *ngIf="emptyMail">Veuillez renseigner un mail.</mat-error>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="prefAlim">Préférence alimentaire </mat-label>
      <input matInput [(ngModel)]="newParticipant.preferenceAlim" type="text" class="form-control" name="prefAlim" id="prefAlim">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="allergies">Allergies </mat-label>
      <input matInput [(ngModel)]="newParticipant.allergie" type="text" class="form-control" name="allergies" id="allergies">
    </mat-form-field>
    <br>
  </div>
  <button mat-raised-button color="primary" (click)="addParticipant() ">S'inscrire à cette réunion</button>
</div>


