p {
  margin-top: 0px;
}

mat-form-field {
  margin-left: 20px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}

input, textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type=checkbox] {
  width: 10px;
}

input[type=submit] {
  width: 150px;
  padding: 10px;
}

h2 {
  margin-left: 20px;
 color: #4B0082;
}

button{
  margin-left: 20px;
}

mat-error{
  margin-left: 20px;
}
