<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <mat-card-title>Bienvenu sur l'application de prise de rendez-vous</mat-card-title>
    </div>
  </div><br>
  <div class="row">
    <h3 class="sous-titre">Présentation de l'application : </h3>
      <ul>
        <li>En haut à gauche vous pouvez cliquer sur le boutton <b>'Menu'</b> afin d'accéder aux différentes fonctionnalités de l'application</li><br>
        <li><b>'Liste des utilisateurs'</b> permet de visualiser l'ensemble des utilisateurs de l'application</li><br>
        <li><b>'S'inscrire à une réunion'</b> permet à un utilisateur de choisir une réunion et de s'y inscrire</li><br>
        <li>En cliquant sur <b>'Nouveau sondage'</b> il est possible de créer un nouveau sondage afin de choisir une date pour une réunion</li><br>
        <li><b>'Créer une nouvelle réunion'</b> permet à un utilisateur de créer une réunion</li>
        <li>L'onglet <b>'Reunion'</b> permet de visualiser l'ensemble des réunions ainsi que les participants à cette réunion</li>
      </ul>
  </div>
</div>
