<div class="main-content">
  <div class="container-fluid">
    <h2>Création d'un nouveau sondage</h2>
    <mat-form-field appearance="outline">
      <mat-label for="createur">Email du créateur </mat-label>
      <input matInput [(ngModel)]="newSondage.createur.email" type="email" class="form-control" name="createur" id="createur" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="intitule">Intitule </mat-label>
      <input matInput [(ngModel)]="newReunion.intitule" type="text" class="form-control" name="intitule" id="intitule" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="resume">Résumé </mat-label>
      <input matInput [(ngModel)]="newReunion.resume" type="email" class="form-control" name="resume" id="resume" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="date1">Première date </mat-label>
      <input matInput [(ngModel)]="newProposition.date" type="date" class="form-control" name="date1" id="date1">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label for="date2">Seconde date </mat-label>
      <input matInput [(ngModel)]="newProposition2.date" type="date" class="form-control" name="date2" id="date2">
    </mat-form-field>
    <br>
  </div>
  <button mat-raised-button color="primary" (click)="addSondage()">Créer le sondage</button>
</div>


